body {
  font-family: "Libian SC";
}

div.intro h1 {
  font-size: 9vh;
  margin-bottom: 0px;
}

div.intro{
    font-family: "Libian SC";
    margin: 0 auto;
    width: 50vh;
    min-width: 400px;
    margin-top: 20vh;
}

div.intro p {
  font-size: 2.5vh;
  margin-top: 0px;
  margin-bottom: 0px;
}

div.links a img{
  margin-top: 10px;
  width: 3vh;
  height: 3vh;
  margin-right: 10px;
  text-align: left;
}

div.headlinks{
  margin-right: 20px;
  height: 10vh;
}

div.nav {
  background-color: #1aaaee;
  width: 101vw;
  margin-left:-10px;
  margin-top: -10px;
  height: 50px;
}

a.Learn {
  display: inline;
  float: right;
  font-size: 28px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  text-decoration: none;
  height: 50px;
}

a.Learn:hover {
  text-decoration: underline;
}


a.Learn p {
  margin-top: 3px;
}
#title {
  color: #1abbe8;
}
